.container{
    background-image: url("mount-everest-nepal-istock-3746.jpg");
    background-size: cover;
    height: 100vh;
}

.card{
    background-color: aliceblue;
    text-align: center;
}

.btn{
    height: 40px;
    width: 90px;
}